.main-btn,
.go-home-btn {
    display: block;
    margin: 15px auto 0;
    padding: 0.8rem 2rem;
    border: 1px solid #c9d2e585;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.main-btn:hover {
    border: 1px solid #182947;
    background-color: #182947;
    scale: 1.1;
}
.go-home-btn {
    margin: 0 auto;
    background-color: #0EA5E9;
    color: #0F172A;
    border-color: #0EA5E9;
}

.go-home-btn:hover {
    background-color: transparent;
    color: #0EA5E9;
    scale: 1.1;
}