.post-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post-details-wrapper .spinner-wrapper{
    padding: 20px;
    min-height: unset;
}
.post-details-wrapper .spinner-wrapper .spinner{
    width: 70px;
    height: 70px;
}

.user-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user-info .user-avatar {
    width: 110px;
    height: 110px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 3px 5px #fbfcfead, 0 -3px 5px #fbfcfead;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-info .user-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: #0EA5E9;
}

.post-info .post-title {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.post-info .post-desc {
    font-size: 1.2rem;
    color: #bebebe;
}

.post-comments-wrapper h4{
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.post-comments-wrapper .comments-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #182947;
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
