@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #0F172A;
    color: #F8FAFC;
}

main{
    min-height: calc(100vh - 136px);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img{ 
    user-select: none;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    font-size: 1.2;
    line-height: 1.7;
    font-weight: 300;
}

section{
    padding: 3rem 0;
}

button{
    border: none;
    outline: 0;
    cursor: pointer;
}

.container{
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none; 
}

@media (width <= 992px) {
    html{
        font-size: 14px;
    }
}
@media (width <= 768px) {
    html{
        font-size: 12px;
    }
}